[MASTER]
load-plugins=pylint.extensions.mccabe
ignore=CVS
extension-pkg-whitelist=PyQt5

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0913,W0703

[FORMAT]
max-line-length=88
indent-string='    '

[DESIGN]
max-args=8
max-locals=15
max-returns=6
max-branches=15
max-statements=50
max-attributes=15
max-public-methods=20
