mkdocs>=1.5.0
mkdocs-material>=9.0.0
mkdocs-material-extensions>=1.0.0
pygments>=2.17.0
pygments-style-github>=1.0.0

pymdown-extensions>=9.0
mkdocs-gen-files>=0.3.0
mkdocs-section-index>=0.3.0
mkdocs-literate-nav>=0.4.0
mkdocs-with-pdf>=0.1.0
mkdocs-minify-plugin>=0.4.0
mkdocs-awesome-pages-plugin>=2.7.0
mkdocs-autolinks-plugin>=0.0.1
mkdocs-jupyter>=0.1.0
mkdocs-redirects>=1.0.0
mkdocs-macros-plugin>=0.8.0
mkdocs-windmill>=0.1.0

mkdocs-autorefs>=0.1.0